header {
  width: 100%;
  height: 3rem;
}

.active {
  background-color: #1B998B;
}
button{
  cursor: pointer;
    outline:none;
    margin: 0 1rem 1rem;
    padding:1rem;
  
    border:none;
    background-color: #333745;
}
h1, h2{
  text-align: center;
}

h2{
  color:#1B998B;
}

body{
  margin-bottom: 5%;
  
  color:#333745;
}
.main-header{
  margin-left:5%;
}

.loading{
  background: white;
  position: fixed;
  top:10vh;
  left:0;
  right:0;
  bottom:0;
  display: grid;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 150%;
  text-align: center;
  align-items: center;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}


.error{
  position: fixed;
  top:20vh;
  border: 2px solid red;
  background-color: white;
z-index: 100;
left:0;
right:0;
width: 40vw;
  color:red;
  text-align: center;
  font-size: 110%;
  margin: auto;
  padding :5%;
}