.aside {
  float: left;
  margin: 0 1.5% 0 0;
  padding:0;
  width: 20%;
  /* height: 70rem; */
 
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
ul{ 
  background-color: rgb(165, 165, 235);
  padding:0;
  height:100%;
  width: 100%;;
}
li {
  list-style: none;
  padding: 20px;
  border: black 1px solid;
}
